body {
    background-color: rgb(236, 234, 234, 0.6);
    /* background-image: url("neural.jpg"); */
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h2 {
    color: blue;
    text-align: center;
}

.Table {
    text-align: center;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    margin-right: 300px;
    margin-left: 300px;
}

.Figure {
    /* margin-top: 200px;
    margin-bottom: 20px;
    margin-right: 200px;
    margin-left: 200px; */
    text-align: center;
}

.logo {
    position: absolute;
    right: 30px;
    top: 15px;
    z-index: 0;
    opacity: 1;
    /* background-color: white */
}